  <aside class="col-md-4">
    <section class="user_info">
      <h1>  
<%= gravatar_for @user %>

        
id: <%= @user.name %>
    </h1>  
      <%= link_to "Following List", followings_user_path %>
      <br>
      <%= link_to "Follower List", followers_user_path %>
      <br>
      <%= link_to "Favorite Tweets", favorite_tweets_micropost_path %>
    
    </section>
  </aside>