<h1>
	<%= gravatar_for @user %>

	<%= @user.name %>
</h1>


<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>登録番号</th>
          <td><%=@user.id%></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%=@user.name%></td>
        </tr>
         <tr>
          <th>メールアドレス</th>
          <td><%=@user.email%></td>
        </tr>
        <tr>
          <th>年齢</th>
          <td><%=@user.age%></td>
        </tr>
        <tr>
          <th>一言</th>
          <td><%=@user.phrase%></td>
        </tr>
        <tr>
          <th>webサイトのアドレス</th>
          <td><a href ="<%=@user.website%>"><%=@user.website%></a></td>
        </tr>
    </tbody>
  </table>
  <center>
    <a class="btn btn-default btn-md" href="<%=edit_user_path%>">プロフィールの編集画面へ</a>
  </center>
</div>
